/* html,body{
    background-color: red;
} */
.header{
    display: flex;
    justify-content: center;
    background-color:yellow;
    font-size: 30px;
    font-family: algerian;
    font-weight: 10;
    color: blue;
}
.menu {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 15px;
  font-size: 20px;
  font-family: algerian;
  font-weight: 400;
  color: white;
}
body {
    margin: 0px;
    background-color: red;
  }
.bodyImg{
    position: relative;    
}
.bodyImg p{
    color: #f7f2f2;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top: 25%;
    left: 48%;
    transform: translate(-50%, -50%);
}  
.grid{
    display: flex;
    flex-wrap: wrap;
}
.origami{
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
    width: 400px;
    height: 300px;
    margin: 35px;
    padding: 10px;
    text-align: justify;
    font-family: comic-sans;
}
.origami:hover{
    transform: scale(1.2);
}
a:link{
    color: white;
}
a:visited{
    color: white;
}

